@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* this is the "root" in "root em." */
html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  font-family: 'Noto Sans', sans-serif;
}

body {
  background: #f8f7f1;
  margin: 0;
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
}

p {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
}

* {
  font-family: 'Noto Sans', sans-serif;
}


.notes-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding:  24px;
}

.note {
  border-radius: 4px;
  padding: 12px;
  box-shadow: 0 4px 12px #e6e6e6;
  transition-duration: .3s;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  border: 2px solid transparent;


  &:hover {
    transform-origin: top center;
    transform: scale(1.05) translateZ(0);
    transition-duration: .3s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  &__body {
    margin-top: 12px;
  }

  &__meta {
    color: #737373;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    column-gap: 16px;
  }

  &--pinned {
    border: 2px solid yellowgreen;
  }
}

.add-note-btn {
  min-height: 150px;

  border: 0;
  outline: 0;
  background: lightgreen;
  border-radius: 4px;
  box-shadow: 0 4px 12px #e6e6e6;
  cursor: pointer;
  transition-duration: .3s;

  &:active, &:focus {
    outline: 0;
  }

  &:hover {
    transform-origin: top center;
    transform: scale(1.05) translateZ(0);
    transition-duration: .3s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

.add-note, .edit-note {
  display: none;
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0 4px 12px #e6e6e6;
  background: #fff;
  position: fixed;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  z-index: 2;

  .close-modal {
    top: 40px;
    position: absolute;
    right: 40px;
    cursor: pointer;
  }

  &.is-active {
    display: block;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  row-gap: 30px;

  input, textarea {
    border: 2px solid #ececec;
    border-radius: 8px;
    min-height: 30px;
    padding: 10px;
    min-width: 350px;

    &:focus, &:active {
      outline: 0;
      border-color: lightgreen;
    }
  }
}

.btn {
  min-height: 50px;
  border: 0;
  outline: 0;
  background-color: lightgreen;
  cursor: pointer;
  box-shadow: 0 4px 12px #e6e6e6;

  &:focus, &:active {
    outline: 0;
  }
}